@import './Variable.scss';

.about {
  .about__container {
    padding: 1rem 5%;

    @media only screen and (max-width: 768px) {
      padding: 1rem 0;
    }

    .content {
      display: flex;
      justify-content: space-around;
      gap: 2rem;
      align-items: center;

      @media only screen and (max-width: 468px) {
        flex-direction: column;
        row-gap: 2rem;
      }

      .heading {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;

        h1 {
          font-size: $big-fs;
          letter-spacing: 2px;
          font-weight: 600;
        }

        h3 {
          font-size: $med-fs;
          letter-spacing: 1px;
        }

        p {
          font-size: $small-fs;
          letter-spacing: .5px;
          line-height: 1.5;
        }
      }

      .img {
        width: 80%;

        @media only screen and (max-width: 468px) {
          width: 100%;
        }

        img {
          width: 400px;
          height: auto;
          object-fit: cover;

          @media only screen and (max-width: 468px) {
            width: 100%;
          }
        }
      }
    }
  }
}