@import './Variable.scss';

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: background-color .3s ease-in-out;

  &.fix {
    background-color: $body-c;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc($hh + 1.5rem);
    padding: 1rem 5%;

    .prof {
      h1 {
        display: flex;
        align-items: center;
        gap: .2rem;
        margin-bottom: .3rem;

        i {
          font-size: $med-fs;
        }
      }
    }

    .nav__list {
      display: flex;
      gap: 2rem;

      @media only screen and (max-width: 468px) {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: $body-c;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
        z-index: 1000;
        clip-path: circle(0% at 100% 0);
        transition: clip-path .5s ease-in-out;
      }

      &.show {
        clip-path: circle(150% at 100% 0);
      }

      .nav__item {
        .nav__link {
          color: $title-c;
          font-size: 1.2rem;
          font-weight: 500;

          &.active {
            color: rgba(0, 196, 204, 1);
          }
        }
      }
    }

    .nav__toggle {
      display: none;

      @media screen and (max-width: 468px) {
        display: block;
        cursor: pointer;
        z-index: 9999;
      }

      .close,
      .hamburger {
        font-size: $med-fs;
      }
    }
  }
}